{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireSphere - User Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password.css' %}">
    
</head>
<body>
    <div class="header">
       
        HireSphere
    </div>
    <div class="body">
        <div class="form-container">
            <a href="{% url "home" %}"><button class="cancel-button" >x</button></a>
            <h1>Password recovery</h1>
            <form action="" method="POST">
              {% csrf_token %}
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter new password"
              maxlength="8"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
              title="Password must be at least 8 characters long, contain at least one lowercase letter, one uppercase letter, one number, and one special character." required>
                <div class="login-link1"> </div>
              <a href={% url "home" %}><button class="s_btn" type="submit">reset</button></a> 
            </form>    
        </div>
        <div class="R_div">
          
            <img src="{% static "img/verify.png" %}" alt=" " class="img1">
            <div class="imgtitle1">
                <p class="text">Create a Strong Password for Enhanced Security</p>
            </div>
        </div>
        {% if usererror %}
        <script>
            alert("{{ usererror }}");
        </script>
        {% endif %}
        
    </div>
    </div>
</body>
</html>    
              

       
            
           
       
